<a href="https://colab.research.google.com/github/FernandezMiguelDemetrius/58002_OOP/blob/main/OperationsAndExpressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [2]:
print(10>9)
print(10<9)
print(10==9)

True
False
False

In [3]:
a = 10
b = 9
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

Bool() function

In [8]:
print(bool(1))
print(bool("ANA"))
print(bool(0))
print(bool(None))

True
True
False
False

Functions can return a boolean

In [18]:
def myFunction():
  return False

  print(myFunction())

In [25]:
def myFunction():
  return True
if myFunction():
  print("Yes!")
else:
    print("No!")

Yes!

Python Operators

In [20]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//5)
print(10%3)
print(10**2)

15
5
50
2.0
2
1
100

In [29]:
print(10>9)

a = 6
b = 7
 
print(a==b)
print(a!=a)

True
False
False

In [28]:
a = 60
b = 13
a << 1

120

Python Assignment Operators

In [33]:
x = 1
x+= 3
print(x)

4

Identity Operators

In [36]:
print(x is y)
print(x is not y)

NameError: ignored

Application 1 Create an arithmetic calculator (MDAS)

In [45]:
d = int(input())
n = int(input())
e = "Answers: "

print(e)
print(d+n)
print(d-n)
print(d*n)
print(d/n)

5
9
Answers:
14
-4
45
0.5555555555555556