<a href="https://colab.research.google.com/github/FernandezMiguelDemetrius/58002_OOP/blob/main/PythonFundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Naming Variable

In [8]:
#Single variable with single value
x = 1
y = 2
print(x)
print(y)

#Multiple variable with single value

a = b = c ="Maria"
print(a)
print(b)
print(c)

#Multiple variable with multiple values

e, f, g = 1, 2, 3
print(e)
print(f)
print(g)

1
2
Maria
Maria
Maria
1
2
3

Single or Double

In [9]:
v = "Sally"
u = "Sally"
print(u)
print(v)

Sally
Sally

Casting

In [10]:
p = float(5)
p

5.0

Type() function

In [11]:
f = "Ana"
g = 4.56

print(type(f))
print(type(g))

<class 'str'>
<class 'float'>

Concatenation using + symbol

In [16]:
k = "enjoying"
j = "Phyton programming is "
print( "Python programming is " + k)
print(j+k)

Python programming is enjoying
Phyton programming is enjoying